<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/seo-and-web-development-color/64/seo-and-web-development-05-512.png">
    <title>CodeBlog</title>
</head>
<body>

    <div class="ui fixed pointing inverted menu">
        <div class="ui container">
            <div class="header item">
                <i class="terminal icon"></i>
                Code Blog
            </div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item right">New Post</a>
        </div>
    </div>
    
